name: Integration Tests
on:
  push:
    branches: ["main"]
  merge_group:
  pull_request:
    branches: ["**"]

permissions:
  contents: read
  actions: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    # "Lint" is a required check, don't change the name
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Rust Environment
        uses: ./.github/actions/setup-rust
        with:
          components: rustfmt, clippy

      - name: Run cargo check
        run: cargo check

      - name: Run cargo clippy
        run: |
          cargo clippy -- -D warnings

      - name: Run cargo fmt
        run: |
          cargo fmt --all -- --check

  test:
    # "Test" is a required check, don't change the name
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Rust Environment
        uses: ./.github/actions/setup-rust

      - name: Install riscv toolchain
        run: |
          git clone https://github.com/riscv/riscv-gnu-toolchain
          sudo apt-get install autoconf automake autotools-dev curl python3 python3-pip python3-tomli libmpc-dev libmpfr-dev libgmp-dev gawk build-essential bison flex texinfo gperf libtool patchutils bc zlib1g-dev libexpat-dev ninja-build git cmake libglib2.0-dev libslirp-dev
          echo 'export PATH="/opt/riscv/bin:$PATH"' >> ~/.bashrc
          source ~/.bashrc
          ./configure --prefix=/opt/riscv
          make linux

      - name: Run asm tests
        run: |
          make test-asm

      - name: Run rust tests
        run: |
          make test-rust
